@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /*Neutral Colors*/

  --Very_Dark_Blue: hsl(234, 12%, 34%);
  --Grayish_Blue: hsl(229, 6%, 66%);
  --Very_Light_Gray: hsl(0, 0%, 98%);

  /* font size */

  --font-size: 25px;
}

body {
  font-size: 15px;
  width: 1440px;
  margin: 0 auto;
  font-family: "Poppins";
  background-color: var(--Very_Light_Gray);
}

.container {
  padding: 4rem 2rem;
}
header {
  margin-bottom: 4rem;
  text-align: center;
}

.hero_heading {
  font-size: var(--font-size);
  font-weight: 200;
  color: var(--Very_Dark_Blue);
}

.hero_heading_bold {
  font-size: var(--font-size);
  font-weight: 600;
  color: var(--Very_Dark_Blue);
  margin-bottom: 1rem;
}

.hero_text {
  color: var(--Grayish_Blue);
}

article {
  display: grid;
  gap: 2rem;
}

section {
  background-color: white;
  padding: 1.5rem;
  /* display: grid;
  gap: 0.1rem; */
  line-height: 1.5;
  border-radius: 8px;
  display: grid;
  gap: 0.25rem;
  box-shadow: 0px 4px 10px -1px rgba(167, 168, 168, 0.74);
  -webkit-box-shadow: 0px 4px 10px -1px rgba(167, 168, 168, 0.74);
  -moz-box-shadow: 0px 4px 10px -1px rgba(167, 168, 168, 0.74);
}

section .sub_text {
  color: var(--Grayish_Blue);
  margin-bottom: 2rem;
  font-size: 15px;
}
section img {
  margin-left: auto;
}

.supervisor {
  border-top: solid var(--Cyan);
}
.team_builder {
  border-top: solid var(--Red);
}
.karma {
  border-top: solid var(--Orange);
}
.calculator {
  border-top: solid var(--Blue);
}

@media screen and (min-width: 900px) {
  article {
    grid-template-columns: repeat(3, 1fr);
  }

  .team_builder {
    grid-column: 2;
  }
  .karma {
    grid-row-start: 2;
  }
  .supervisor {
    transform: translateY(-60%);
    grid-row: 2;
  }
  .calculator {
    transform: translateY(-60%);
    grid-row: 2;
  }
}
